<footer>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
 <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <style type="text/tailwindcss">
    @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
<div class="footer-container">

<p>OOP Practice</p>

<a href="mailto:someone@example.com">Send email</a>
<a href="https://missiongaming.gg">Mission Gaming</a>
</div>
</footer>
