<html lang =en>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
 <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <style type="text/tailwindcss">
    @layer utilities {
      .content-auto {
        content-visibility: auto;
      }
    }
  </style>
<div class="header-container">
<div class="header-title">
<div class="header-nav">
<h> Welcome</h>
<p>

"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."

</p>
</div>
</div>
</div>
